div.MMM-ruuvi-api-sensors-lite {
    td {
        text-align: right;
        padding-right: 16px;
        &.time {
            font-size: 14px;
        }
        span.battery-empty-icon {
            padding-left: 8px;
            position: relative;
            top: 1px;
        }
    }
}
