div.MMM-ruuvi-api-sensors-lite {
    td {
        text-align: right;
        padding-right: 16px;
        &.time {
            font-size: 14px;
        }
        span.battery-empty-icon {
            padding-left: 8px;
            position: relative;
            top: 1px;
        }
    }

    .rating-container {
        display: flex;
        gap: 5px;

        &.bar {
            width: 16px;
            height: 6px;
            border: 2px solid white;
            background-color: transparent;
            transition: background-color 0.3s;
            border-radius: 4px;

            &.filled {
                background-color: white; /* väritetty palkki */
            }
        }
    }
}
